@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Override Leaflet's default link color for links inside popups */
.leaflet-popup-content a {
  color: inherit !important;
}

/* Add a transition for the custom marker icon */
.custom-div-icon {
  transition: transform 0.2s ease-out, z-index 0.2s ease-out;
}

/* Style for the marker on hover */
.marker-hover .custom-div-icon {
  transform: scale(1.15);
  z-index: 1000 !important; /* Ensure it comes to the front */
}